@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');
:root {
    --primary: #0099ff;         
    --light-primary: #66ccff;   
    --secondary: rgba(25, 253, 0, 0.25); 
    --light-secondary: rgba(25, 253, 0, 0.1); 
}

body {
    font-family: "Poppins", sans-serif;

}
.container{
    width: 86%;
    margin: auto;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: vary(--secondary);
}

.primary{
    color: var(--primary);
}
.secondary{
    color: var(--secondary);
}