@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');
:root {
    --primary: #409CA7;         
    --light-primary: #93d8df;   
    --secondary: rgba(221, 255, 0, 0.92); 
    --light-secondary: rgba(205, 232, 105, 0.694); 
}

body {
    font-family: "Poppins", sans-serif;

}
.container{
    width: 86%;
    margin: auto;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}

.primary{
    color: var(--primary);
}
.secondary{
    color: var(--secondary);
}